@charset "UTF-8";

body {
    background-color: #454d6b;
    margin: 0;
    padding: 0;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
}
.card-header {
    padding-bottom: 50px;
    opacity: 0.9;
    color: #fff;
    text-align: center;
}
.card-header::after {
    content: "";
    width: 90px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -10;
    margin-left: 80px;
}
.card-content label {
    color: #fff;
    font-size: 20px;
}

